<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
<style>
link rel="stylesheet" href="styles/bootstrap.min.css">
 <link rel="stylesheet" href="styles/styles.css">  
.error {
  color: red;
  font-weight: bold;
}
</style>
<script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
   <div class="container" ng-controller='NarrowItDownController as list'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text"  class="form-control" ng-model="list.choice">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="list.search();">Narrow It Down For Me!</button>
     </div> 

      <found-Item items="list.menulist"
                  status="{{list.found}}"
       on-remove="list.removeItem(index)"></found-Item>
      </div>
      
</body>
</html>
